/* always show vertical scrollbar to avoid width resize jumps between browsers */
html {
	overflow-y: scroll;
}

/* hint that labels are clickable */
label { cursor: pointer; cursor:hand;}


/* alert messages styling*/
.alert {
    display: none;
}
.alert.alert-success
, .alert.alert-error
, .alert.alert-info {
    display: block;
}


/* site styles */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.imagem-home{
	background: url(../img/home_bg.jpg) no-repeat center center;
	background-size: cover;
}

.imagem-projeto{
	background: url(../img/projeto_bg.jpg) no-repeat right center;
	background-size: cover;
	padding: 150px 0;
	}

.imagem-historia{
	background: url(../img/historia_bg.jpg) no-repeat right center;
	background-size: cover;
	padding: 150px 0;
	}
.home-intro-box{
	background:rgba(21, 21, 21, 0.85);
	}
	
.home-intro-text {
	color:#FFFFFF;
	}
div.projeto p, div.historia p{
	margin-top:25px;
	}