/* always show vertical scrollbar to avoid width resize jumps between browsers */
html {
	overflow-y: scroll;
}

/* hint that labels are clickable */
label { cursor: pointer; cursor:hand;}


/* alert messages styling*/
.alert {
    display: none;
}
.alert.alert-success
, .alert.alert-error
, .alert.alert-info {
    display: block;
}


/* site styles */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-brand {
	color:#EC2024 !important;
}
.imagem-peq{
	float:left;
	margin-bottom:5px;
	margin-right: 5px;
	widows:150px;
	height:150px;
}
.nav>li>a {
	padding-right:25px;
	padding-left: 25px;
}
	
.imagem-home{
	background: url(../img/home_bg.jpg) no-repeat center center;
	background-size: cover;
}

.imagem-projeto{
	background: url(../img/projeto_bg.jpg) no-repeat right center;
	background-size: cover;
	padding: 150px 0;
}

.imagem-historia{
	background: url(../img/historia_bg.jpg) no-repeat right center;
	background-size: cover;
	padding: 150px 0;
}
	
.home-intro-box{
	background:rgba(21, 21, 21, 0.9);
}
	
.home-intro-text {
	color:#FFFFFF;
}
	
div.projeto p, div.historia p{
	margin-top:25px;
}
	

#email-txt{
    display:block;
	font-size:1.3em;
    margin-bottom:5em;
    margin-top:2em;
}

div#galeria {
    padding-left:16px;
}

div#filters {
    margin:20px 0 20px 16px;
}

.form-group {
    margin-right:20px;
}

.tags-title {
    display:inline;
}

ul.tags-list {
    padding:0;
    list-style-type: none;

}

ul.tags-list li {
    display:inline;
}

#proprietario {
    width:274px;
}

#decada, #tag {
    width:180px;
}

#tag-cloud {
    padding-left:16px;
    padding-right:16px;
    height:500px;
}

#tag-cloud .tag {
    float:left;
    display:inline;
    padding:10px;
}
#home-images {
    margin-top:40px;
    margin-bottom:40px; 
}
/*
.limpar {
float:right;
}
*/
