{% extends "base.html" %}
{% set active_page = "contatos" %}
{% block PageHeader %}
{% endblock %}

{% block Page_Content %}


      <div class="container contatos">
        <div class="row">
          <div class="col-lg-8 section">
            <h1 class="section-heading">Contatos</h1>
            <p class="lead section-lead">Envie-nos feedback e sugestões para melhorar este site.</p>
            <p class="lead section-lead">Se tiver fotografias que queira ver adicionadas, contacte-nos.</p>
            <p class="lead section-lead">Também agradecemos qualquer informação adicional que possa ter sobre as fotografias que estão no site.</p>
<a id="email-txt" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#109;&#111;&#114;&#105;&#97;&#115;&#99;&#111;&#108;&#101;&#116;&#105;&#118;&#97;&#115;&#46;&#99;&#118;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;&#63;&#99;&#99;&#61;&#112;&#101;&#100;&#114;&#111;&#109;&#97;&#110;&#97;&#99;&#97;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;&#38;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#83;&#105;&#116;&#101;&#37;&#50;&#48;&#77;&#101;&#109;&#111;&#114;&#105;&#97;&#115;&#37;&#50;&#48;&#67;&#111;&#108;&#101;&#116;&#105;&#118;&#97;&#115;">&#109;&#101;&#109;&#111;&#114;&#105;&#97;&#115;&#99;&#111;&#108;&#101;&#116;&#105;&#118;&#97;&#115;&#46;&#99;&#118;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>

          </div>
      </div>


{% endblock %}<!--/%content-->

{% block pageJS %}
    <script type="text/javascript">

    </script>
{% endblock %}