{% extends "base.html" %}
{% set active_page = "galeria" %}
{% block pageCSS %}
<link rel="stylesheet" href="/css/slimbox2.css" />
{% endblock %}

{% block PageHeader %}
{% endblock %}

{% block Page_Content %}


    <div class="container">
          <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Galeria de fotografias</h1>
        </div>

      </div>
 
      <div class="row">

        <div class="col-lg12" id="galeria">
		{% for p in photos %}

          <a rel="lightbox-group" title="{{p.legenda}} [Autor: {{p.proprietario}}{{' '+p.data_vaga if p.data_vaga != ''}}]" id="{{p.flickr_id}}" href="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_z.jpg"><img class="img-responsive imagem-peq" src="img/blank.gif" data-original="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_q.jpg" /><noscript><img class="img-responsive imagem-peq" src="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_q.jpg"></noscript></a>
          <div id="caption-{{p.flickr_id}}" style="display:none;">
            <p><strong>{{p.legenda}}</strong> [Autor: {{p.proprietario}}{{' '+p.data_vaga if p.data_vaga != ''}}]</p>
            <a target="_blank" href="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_originalsecret}}_o.jpg"><span class="glyphicon glyphicon-download-alt"></span> Download tamanho original</a>
          </div>
		
        {% endfor %}
        <div class="clearfix"></div>
        </div>
      </div>


{% endblock %}<!--/%content-->

{% block pageJS %}
	<script src="/js/jquery.lazyload.min.js"></script>
    <script src="/js/slimbox2.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
 		
		$('img.imagem-peq').lazyload();
    
});
    </script>
{% endblock %}