{% extends "base.html" %}
{% set active_page = "galeria" %}
{% block pageCSS %}

<link rel="stylesheet" href="/css/jquery-ui.min.css"/>
<link rel="stylesheet" href="/css/bootstrap-tokenfield.min.css"/>
<link rel="stylesheet" href="/css/slimbox2.css"/>
{% endblock %}

{% block PageHeader %}
{% endblock %}

{% block Page_Content %}
    <div class="container">
          <div class="row">

            <div class="col-lg-12">
              <h1 class="page-header">Galeria</h1>
            </div>

        </div>
        
        <div class="row">

            <div class="col-lg12" id="filters">
                <form id="filtros-form" class="form-inline" role="form" method="get" action="{{current_url}}">
                    <div class="form-group">
                            <label class="sr-only" for="proprietario">Proprietário</label>
                            <select id="proprietario" name="proprietario" class="form-control" onchange="this.form.submit()">
                                <option value="" {% if proprietario == None %}selected{% endif %}>Filtrar por proprietário:</option>
                                <option value="">// Mostrar Todos //</option>
                                {% for a in proprietarios %}
                                <option value="{{a}}" {% if proprietario == a %}selected{% endif %}>{{a}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group">
                            <label class="sr-only" for="decada">Década</label>
                            <select id="decada" name="decada" class="form-control" onchange="this.form.submit()">
                                <option value="" {% if decada == None %}selected{% endif %}>Filtrar por década:</option>
                                <option value="">// Mostrar Todas //</option>
                                {% for d in decadas %}
                                <option value="{{d}}" {% if decada == d %}selected{% endif %}>{{d}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group tags">
                        <div class="input-group">
                            <label class="sr-only" for="tags-field">Tags</label>
                            <div class="input-group-addon">Tags</div>
                            <input type="text" class="form-control" name="tag" id="tags-field"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                        <a class="btn btn-default" href="{{ uri_for('galeria') }}" id="limpar">Limpar filtros</a>
                    </div>
                </form>
                
            </div>
        </div>
    
      <div class="row">

        <div class="col-lg12" id="galeria">
		{% for p in photos %}

          <a rel="lightbox-group" title="{{p.legenda}} [Imagem cedida por: {{p.proprietario}}{{' '+p.data_vaga if p.data_vaga != ''}}]" id="{{p.flickr_id}}" href="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_z.jpg"><img class="img-responsive imagem-peq" src="img/blank.gif" data-original="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_q.jpg" /><noscript><img class="img-responsive imagem-peq" src="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_secret}}_q.jpg"></noscript></a>
          <div id="caption-{{p.flickr_id}}" style="display:none;">
            <p><strong>{{p.legenda}}</strong> [Imagem cedida por: {{p.proprietario}}{{' '+p.data_vaga if p.data_vaga != ''}}]</p>
            <ul class="tags-list">
                <li><strong>Tags:</strong></li>
                {% for t in p.tags %}
                <li><a href="{{ uri_for('galeria') }}?tag={{t}}">{{t}}</a></li>
                {% endfor %}
            </ul>
            <!-- <a target="_blank" href="http://farm{{p.flickr_farm}}.staticflickr.com/{{p.flickr_server}}/{{p.flickr_id}}_{{p.flickr_originalsecret}}_o.jpg"><span class="glyphicon glyphicon-download-alt"></span> Download tamanho original</a> -->
          </div>
		
        {% endfor %}
        <div class="clearfix"></div>
        </div>
      </div>



{% endblock %}<!--/%content-->

{% block pageJS %}
	<script src="/js/jquery.lazyload.min.js"></script>
    <script src="/js/bootstrap-tokenfield.min.js"></script>
    <script src="/js/slimbox2.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
 		
		$('img.imagem-peq').lazyload();
        
        $('#tags-field').tokenfield({
            autocomplete: {
                source: [{% for t in tags %}"{{t[0]}}"{% if not loop.last %},{% endif %}{% endfor %}],
                delay: 100
            },
            showAutocompleteOnFocus: true,
            minLength: 2,
            limit:3,
            beautify: false
            {% if tag %},tokens: "{{tag}}"{% endif %}
        })
        
    });
    </script>
{% endblock %}