{% extends "base.html" %}
{% set active_page = "historia" %}
{% block PageHeader %}
{% endblock %}

{% block Page_Content %}

    <div class="imagem-historia">
&nbsp;
    </div>

      <div class="container historia">
        <div class="row">
          <div class="col-lg-8 section">
            <h1 class="section-heading">História da Cova do Vapor</h1>
            <p class="lead section-lead">A Cova do Vapor é uma comunidade piscatória localizada na margem sul do Tejo, onde o rio encontra o mar. Destaca-se pelo seu forte sentido de comunidade e uma herança arquitetónica única, baseada numa tradição de auto-construção.</p>

<p class="section-paragraph">A Cova do Vapor é uma comunidade piscatória que surgiu nos anos 40 e continua a ser habitada maioritariamente por pescadores. Foi erguida pelos seus habitantes, e por isso apresenta caraterísticas arquitetónicas únicas.</p>

<p class="section-paragraph">Situada numa zona de grande erosão costeira (nas margens da foz do rio Tejo e banhada pelo oceano Atlântico a sul) sempre registou recuos significativos na linha de costa. Desde os finais dos anos 40, os moradores tiveram que deslocar e reconstruir as suas casas várias vezes.</p>

<p class="section-paragraph">Hernâni Pereira, antigo presidente da Associação de Moradores conta que as casas eram transportadas por juntas de bois: “O Manuel da Fruta é que mudava as casas. Umas desmontavam-se, outras vinham inteiras”</p>

<p class="section-paragraph">A Cova do Vapor ainda hoje mantém uma tradição de arquitetura informal, com construções relativamente precárias que foram construídas de forma espontânea, “às vezes sem se perceber onde é que começam umas e acabam as outras.”</p>

<p class="section-paragraph">Estando situada em domínio público marítimo, a Cova do Vapor não foi abrangida nos processos de legalização de áreas de génese ilegal. No entanto, a falta de apoios governamentais levou a que a comunidade desenvolvesse uma grande capacidade de resolver problemas pelos seus próprios meios, através de uma grande coesão social e fortes laços de solidariedade.</p>

<p class="section-paragraph">Além de construírem as suas próprias casas, todos os habitantes contribuiriam para a construção das redes de água, eletricidade e alcatroamento das ruas principais da localidade.</p>

<p class="section-paragraph">Nos últimos anos a Cova do Vapor tem sido tema recorrente de pesquisas académicas e investigações artísticas. Recentemente, em 2011, os arquitetos Filipe Balestra e Sara Göransson, iniciaram aqui o projeto TISA – The Informal School of Architecture. Durante este projeto, estudantes de arte e arquitetura trabalharam no mapeamento e na construção de uma maquete da Cova do Vapor, com a ajuda dos habitantes locais.</p>
          </div>
      </div>


{% endblock %}<!--/%content-->

{% block pageJS %}
    <script type="text/javascript">

    </script>
{% endblock %}