{% extends "base.html" %}
{% set active_page = "home" %}
{% block PageHeader %}
{% endblock %}

{% block Page_Content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron imagem-home">
      <div class="container home-intro-box">
        <h1 class="">Memórias Coletivas da Cova do Vapor</h1>
        <p class="home-intro-text">Aqui poderá encontrar o resultado da recolha de fotografias da Cova do Vapor, <br />que contribuem para reunir e retratar as memórias coletivas desta comunidade.</p>
        <p style="margin-top:30px;" class=""><a href="{{ uri_for('galeria') }}" class="btn btn-primary btn-lg">Entrar na galeria &raquo;</a></p>
      </div>
    </div>

    <div class="container">

{% endblock %}<!--/%content-->

{% block pageJS %}
{% endblock %}
