{% extends "base.html" %}
{% set active_page = "tags" %}
{% block pageCSS %}
<link rel="stylesheet" href="/css/jqcloud.css"/>
{% endblock %}

{% block PageHeader %}
{% endblock %}

{% block Page_Content %}
    <div class="container">
          <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Tags</h1>
        </div>
      </div>
        <div class="row">

            <div class="col-lg12" id="tag-cloud">
            </div>
        </div>
        <div class="clearfix"></div>
{% endblock %}<!--/%content-->

{% block pageJS %}
<script type="text/javascript" src="/js/jqcloud-1.0.4.js"></script>
    <script type="text/javascript">
    var word_array = [
        {% for t in tags %}
              {text: "{{t[0]}}", weight: {{t[1]}}, link: "{{ uri_for('galeria') }}?tag={{t[0]}}&proprietario={{proprietario}}&decada={{decada}}"},
        {% endfor %}   
    ];
    
	$(document).ready(function() {

                $("#tag-cloud").jQCloud(word_array);
});
    </script>
{% endblock %}